* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
}

body {

    width: 100%;
    height: 100%;

}

.container {

    width: 100vw;
    
}

.board {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;

}

.project {

    height: 200px;
    background-color: gray;
    border-radius: 8px;

}